# Angular Specific
.DS_Store
Thumbs.db
*.log
*.lock
*.lockfile
*.tmp
*.swp
.idea/
.vscode/
node_modules/
bower_components/

# Compiled output
dist/
build/
esm/

# Temporary folders
.temp/
.cache-loader/
.angular/cache/
.angular/**/cache/

# Local environment
*.env
*.local
*.bak
*.backup
environments/environment*.ts

# System Files
.sass-cache/
*.pid

# IDE Configurations
*.iml
*.sublime-workspace
*.sublime-project

# Coverage reports
coverage/

# npm debug file
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous
*.gz
*.tgz
*.zip
